// Colours
// ----------------
$bg-black: #191919;
$default-font: #999;
$red: #f44336;
$orange: #f90;
$overlay-bg: #ff99009c;
$white: #eee;

// Size
// ----------------
$large-size: 3.2rem;
$medium-size: 1.6rem;
$small-size: 1.2rem;
$xlarge-size: 4.8rem;

// Screen sizes
// ----------------
$desktop-breakpoint: 45rem;